.backAccess{
    background-color: var(--colorBlue);
}
.btn{
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}
.btn-blue{
    background-color: var(--colorBlue);
    color: var(--colorWhite);
}


.messageError{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.messageError p{
    color: var(--colorRed);
    font-size: 1.5rem;
    font-weight: bold;
}

.errorBack{
    background-color: var(--colorRedBack);
}

.container{
    width: 90%;
    margin: 0 auto;
}
.main_container{
    width: 80%;
    margin: 0 auto;
}
.posts_container{
    width: 60%;
    margin: 0 auto;
}
.txt-center{
    text-align: center;
}
.active{
    cursor: grabbing !important;
}
.separator-blue{
    width: 70%;
    height: .5rem;
    background-color: var(--colorBlue);
    border-radius: 3rem;
    margin: 0 auto;
    margin-top: 2rem;

}