extends Master 
block content
    
    div.topSection.container
        section.titlesSection 
            h2 Top 5 users 
            h2 Specials 
        section.contentSection 
            section.usersSection
                ul.usersList
            section.specialsSection
                            
    
    script(src="../js/Home.js") 
