extends Master 
block content
    
    div.topSection.container
        section.titlesSection 
            h2 Top 5 users 
            h2 Specials 
        section.contentSection 
            section.usersSection
                ul.usersList
            section.specialsSection
        section.creatPostSection.posts_container 
            h2.txt-center Create Post
            div.separator-blue
            div.createPostSuccessSection
                p.createPostSuccessSectionTAG
            form.createPostForm(id = user._id)
                fieldset
                    div.createPostForm__TOP 
                        div.inputCreateForm
                            label(for="title") Title
                            input(type="text" placeholder = "Title Post" id="title") 
                            div#titleErrorArea
                                p#titleError


                        div.inputCreateForm
                            label(for="category") Category
                            select(name="" id= "category")
                                option(value="" selected disabled) SELECT 
                                option(value="AI") AI   
                                option(value="SW") SW   
                                option(value="GAME") GAME   
                                option(value="TI") TI
                            div#categoryErrorArea
                                p#categoryError

                    div.createPostForm__MID
                        div.inputCreateForm
                            label(for="content") Content
                            textarea(name="content" id= "content" placeholder="Content")
                            div#contentErrorArea
                                p#contentError
                    div.createPostForm__BOT
                        input(type="submit" value="CREATE")   
            
            
            h2.txt-center Posts
            div.separator-blue
           
            section.publicPostsSection.posts_container 
                div.posts




    
    script(src="../js/Home.js") 
