doctype html
html(lang="en")
    head
        include helpers/Head
    body.scrollBar
        header.header
            div.headerSection.container
                div.logHeader
                    a(href="/").logoSection 
                        img(src="../img/Logo-White.svg", alt="Logo-IMG")
                        h1
                            | H
                            span M
                    p < #{user.userName} >;
                
                div.nevegationSection
                    nav.navegation 
                        a(href="/myPosts") MyPosts 
                        a(href="/specials") Specials
                        a(href="/users") Users
                        a(href="/myAccount") My Account
                    
                    a(href="/logOut")
                        img(src="../img/LogOut.svg", alt="LogOut-IMG") 



        block content 