extends Master 
block content 
    div.special_container.myPostsPage
    
        h2.txt-center My Posts

        div.filterSection
            div.inputfilter
                input(type="text" placeholder = "Post Title" id= "title")
            div.inputfilter
                select(name="" id= "category")
                    option(value="" selected) Category 
                    option(value="AI") AI   
                    option(value="SW") SW   
                    option(value="GAME") GAME   
                    option(value="TI") TI  

            div.inputfilter
                input(type="date" id= "date")

        div.separator-blue-big
                

        
        div.myPostsSection




    script(src="../js/helpers/Question.js") 
    script(src="../js/MyPosts.js") 