extends Master 
block content 
    div.special_container
    
        h2.txt-center Specials

        div.filterSection
            div.inputfilter
                input(type="text" placeholder = "Post Title" id= "title")
            div.inputfilter
                

            div.inputfilter
                

        div.separator-blue-big
                

        
        div.specialsSection