extends Master 
block content 
    div.special_container.usersPage
    
        h2.txt-center Users

        div.filterSection
            div.inputfilter
                input(type="text" placeholder = "User name" id= "userName")
            div.inputfilter
                

            div.inputfilter
                

        div.separator-blue-big
                

        
        div.usersSection
    
    script(src="../js/Users.js") 
            